<h2>About Me</h2>
<div>
    <ng-container *ngIf="employee">
        <p>{{employee.salutation}} {{employee.firstName}} {{employee.lastName}}</p>
        <!-- <p>Employee ID: {{employee.employeeId}}</p> -->
        <p>Gender: {{employee.gender}}</p>
        <p>Email: {{employee.email}}</p>
        <p>Department: {{employee.department}}</p>
        <p>Title: {{employee.title}}</p>
    </ng-container>
</div>

<h2>Hobbies</h2>
<div class="hobby-box">
    <ng-container *ngIf="hobbies?.length; else noHobbies">
        <div *ngFor="let hobby of hobbies">
            <p><button type="button" (click)="delete(hobby)">X</button> {{ hobby }}</p>
        </div>
    </ng-container>
    <ng-template #noHobbies>
        <tr>
            <td colspan="8"><i>No hobbies added</i></td>
        </tr>
    </ng-template>
    <form [formGroup]="addHobbyForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="hobby"
        placeholder="Hobby e.g. Cooking"><button type="submit">Add</button>
        <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
    </form>
</div>

<h2>Upcoming Lunches!</h2>
<div class="pairings-container">
    <ng-container *ngIf="acceptedPairings?.length; else noAcceptedPairings">
        <div *ngFor="let pairing of acceptedPairings" class="accepted-pairings-box">
            <p>Pairing ID: {{ pairing.pairingId }}</p>
            <p>Employee ID: {{ pairing.employeeId }}</p>
            <p>Lunch Buddy ID: {{ pairing.pairedEmployeeId }}</p>
            <p>Date of Match: {{ pairing.pairingDate }}</p>
            <p>Lunch Date: {{ pairing.lunchDate }}</p>
            <p>Lunch Time: {{ pairing.lunchTime }}</p>
            <p>Lunch Venue: {{ pairing.lunchVenue }}</p>
            <p><b>Lunch Buddy:</b></p>
            <p>{{ pairing.pairedEmployee.salutation }} {{ pairing.pairedEmployee.firstName }} {{ pairing.pairedEmployee.lastName }}</p>
            <p>Gender: {{ pairing.pairedEmployee.gender }}</p>
            <p>Email: {{ pairing.pairedEmployee.email }}</p>
            <p>Department: {{ pairing.pairedEmployee.department }}</p>
            <p>Title: {{ pairing.pairedEmployee.title }}</p>
        </div>
    </ng-container>
    <ng-template #noAcceptedPairings>
        <tr>
            <td colspan="8"><i>No upcoming lunches</i></td>
        </tr>
    </ng-template>
</div>

<h2>Successful Matches - Awaiting Your acceptance</h2>

<h2>Successful Matches - Awaiting Lunch Buddy's acceptance</h2>

<h2>Open Requests</h2>
<button type="button" (click)="newRequest()">New Request</button>

<div>
    <ng-container *ngIf="requests?.length; else noRequests">
        <div *ngFor="let request of requests" class="request-box">
            <p>Request ID: {{request.requestId}}</p>
            <p>Preferred Date: {{request.preferredDate}}</p>
            <p>Preferred Time: {{request.preferredTime}}</p>
            <p>Preferred Gender: {{request.preferredGender}}</p>
            <p>Is Matched?: {{request.isMatched}}</p>
        </div>
    </ng-container>
    <ng-template #noRequests>
        <tr>
            <td colspan="8"><i>No active requests</i></td>
        </tr>
    </ng-template>
</div>