<div class="login-container">
  <h2>Login to Lunch Buddy</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="employeeId">Employee ID:</label>
      <input type="text" id="employeeId" [(ngModel)]="employeeId" name="employeeId" required>
      <button type="submit">Login</button>
    </div>
    <!-- <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div> -->
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
  </form>
</div>

<div class="signup-container">
  <h2>Don't have an account?</h2>
  <button type="button" (click)="signup()">Sign up now!</button>
</div>